@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}
body {
    
}

.main {
    position: relative;
    /* Add position relative to establish a new containing block for absolute positioning */
    width: 100%;
    height: 100vh;
}

.blob{
    height: 73%;
    width: 88%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(50px);
}
.reg-btn{
    position: relative;
    top: 25px;
    left: 20px;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(5px);
        /* Adjust bounce height as needed */
    }
}

@keyframes growShrink {
    0% {
        font-size: 5rem;
        /* Initial font size */
    }

    50% {
        font-size: 6rem;
        /* Increased font size */
    }

    100% {
        font-size: 5rem;
        /* Back to initial font size */
    }
}