@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    /* Add position relative to establish a new containing block for absolute positioning */
    width: 100%;
    height: 100vh;
}


button{
    border-radius: 15px;
}

button:hover{
    background-color: aliceblue;
    color: black;
    
}

.tab-btn{
    border-radius: 0;
}

input, textarea{
    height: 40px;
    background: none;
    border-bottom: 1px solid white;
}
input::after{
    
}